html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

button{
    cursor: pointer;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6097BF;
    position: fixed;
    z-index: 10;
    width: 100%;
    text-transform: uppercase;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 60%;
    padding: 1rem 5rem;
}



/* .nav-btn:after {
    content: '';
    position: absolute;
    width: 5rem;
    height: 0.2rem;
    background-color: white;
    left: 50%;
    transform: translateX(-50%) scale(0);
    bottom: 0;
    transition: .3s ease transform;
} */

/* * {
    box-sizing: border-box;
  } */

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#6097BF ;
  }

li {
    display: inline;
  }

a{
    color: aliceblue;
}

li a {
    padding: 8px;
    font-size: 2rem;
    text-decoration: none;
  }

li a:hover{
    background-color: #70a3c7;
}


#title{
    margin: 0;
    font-size: 5rem;
    text-transform: none;
}


.hero{
    height: 100vh;
    flex-direction: row;
    padding-left: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #6097BF;
}

.white-title{
    color: aliceblue;
    font-size: 650%;
    font-weight: 300;
    margin: 0;
    width: 90%;
    line-height: 130%;
}

.me{
    color: aliceblue;
    font-size: 130%;
    letter-spacing: 0.8rem;
    margin-top: 0;
}

.portfolio-btn{
    background-color: rgba(34, 113, 204, 0.534);
    font-size: 1.3rem;
    letter-spacing: 0.8rem;
    color: aliceblue;
    border: #6097BF 1px solid;
    width: 43%;
    height: 10vh;
	transition: all .3s ease;
}

.portfolio-btn:hover{
    background-color: rgba(34, 113, 204, 0.216);
    border-color: aliceblue;
}

.control-png-location{
    display: flex;
    align-items: center;
    padding-right: 3vw;
    width: 80%;
    height: 90%;
}

#left-png{
    background-image: url(./software-developer-left-side.png);
    transform: translateX(2%)
}

#right-png{
    background-image: url(./software-developer-right-side.png);
    transform: translateX(-20%)
}

.photo{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition-duration: 1.5s;
    width: 90%;
    height: 80%;
}   

#about{
    height: 100vh;
    flex-direction: row;
    padding-left: 15%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:aliceblue;
    font-family: 'Playfair Display', serif;
}

.about-title{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 4rem;
    margin: 0;
}


.about-description{
    font-size: 150%;
    line-height: 3rem !important;
    font-weight: 300;
    margin: 0;
    width: 90%;
    line-height: 130%;

}

.control-png2-location{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10vw;
    width: 130%;
    height: 80%;
}

#second-png{
    background-image: url(./freelance-work-g4f8fa6124_1920-removebg-preview.png);
    background-size: cover;
    transition-duration: 0s;
}

.resume-btn{
    background-color: rgb(136, 136, 136);
    color: aliceblue;
    border: #6097BF 1px solid;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    margin-top: 3vh;
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    width: 43%;
    height: 8vh;
	transition: all .3s ease; 
}

#services{
    height: 50rem;
    padding: 5% 2%;
    flex-direction: column;
    display: flex;
    text-align: center;
    background-color:rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
}

.services-title{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 4rem;
    margin: 0;
}

.services-description{
    font-size: 130%;
    line-height: 3rem !important;
    font-weight: 300;
    margin: 0vh 30vw;
    line-height: 130%;
}

.services-info{
    display: flex;
    margin: 0 10%;
}

.service{
    align-items: center;
    background-color: transparent;
    width: 30vw;
    height: 45vh;
    border: none;
    perspective: 1000px;
}

.service:hover .service-card {
    transform: rotateY(180deg);
  }
  

.service-card{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

.service-front, .service-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.service-front{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 230, 252);
    color: black;
}

.service-back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 230, 252);
    color: black;
    transform: rotateY(180deg);
}

.front-title{
    margin-top: 1rem;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
}

#middle-card .front-title{
    color: white;
}

#middle-card{
    background-image: url(https://www.ica.coop/sites/default/files/styles/full_image/public/news-item-fullimage/avi-richards-183715-unsplash-567934383.jpg?itok=3UIujf91);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.fa-laptop-code{
    color: white;
    font-size: 5rem;
}

.fa-discord{
    font-size: 5rem;
}

.fa-gears{
    font-size: 5rem;
}

.back-title{
    font-size: 2.5rem;
    margin-bottom: 0;
}

.back-description{
    font-size: 1.1rem;
    margin: 1rem 2rem;
    color: black;
}

#hire-me{
    background-color: rgba(0, 0, 0, 0.212);
    padding: 3vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hire-me-title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    width: fit-content;

}

.hire-me-btn{
    font-family: 'Times New Roman', Times, serif;
    padding: 2rem 3rem;
    margin-top: 10px ;
    display: inline-block ;  
    border: none;  
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.267);
    letter-spacing: .2rem;
    margin-top: 10px;
    color: whitesmoke;
    font-size: 1.6rem;
    transition-duration: 0.5s;
    cursor: pointer;
    width: fit-content;

}

.hire-me-btn:hover{
    background-color: black;
}

.contact{
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 20vh;
}

.footer-title{
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 7rem;
}

.contact-info{
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    padding-top: 1.5rem ;
    margin: 0;
}

.social-media{
    margin-bottom: 0.5vh;
}

.social-media-icons{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5vh;
    font-size: 3rem;
    width: 150px;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, #f46b45, #eea849);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  
.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}
  
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#menu-toggle {
    display: none;
}
  
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}
  
.menu-button::before {
    content: '';
    margin-top: -8px;
}
  
.menu-button::after {
    content: '';
    margin-top: 8px;
}
  
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
  
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}
  
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
  

@media only screen and (max-width: 426px) {
    
    .menu-button-container {
        display: flex;
    }

    .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    }

    #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    li a{
        height: 100%;
    }

    

    #menu-toggle:checked ~ .menu li {
    border: 1px solid #6097BF;;
    height: 2.5em;
    margin-bottom: 2.5rem;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #6097BF;;
    }

    .menu > li:not(:last-child) {
    border-bottom: 1px solid #6097BF;
    }



    .navbar{
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
    }

    #title{
        font-size: 3rem;
    }
    
    .hero{
        display: flex;
        flex-direction: column-reverse;
        padding-left: 0%;
    }

    .control-png-location{
        padding: 6rem 0 0 3rem;
        margin-top: 10;
    }

    .hire-me{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .white-title{
        font-size: 5rem;
        text-align: center;
    }

    #lower{
        margin-bottom: 1rem;
    }

    .portfolio-btn{
        margin-bottom: 1rem;
    }

    #about{
        padding: 0;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 8rem;
    }

    .about-description{
        text-align: center;
    }

    .control-png2-location{
        width: 90%;
    }

    .resume-btn{
        margin-bottom: 2rem;
    }

    #services{
        height: auto;
    }

    .services-title{
        margin-top: 2rem;
    }

    .services-description{
        margin: 0;
    }

    .services-info{
        display: flex;
        flex-direction: column;
    }

    .service{
        width: 100%;
        margin-top: 1rem;
    }

}
